name: Check

on:
  push:
    branches:
      - master
  pull_request:
  repository_dispatch:
    types: [run_build]

jobs:
  check-headers:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake cmake-data git doxygen python3 curl rsync 
    - name: Check
      run: |
        set -e
        export TRAVIS_BUILD_DIR=$PWD
        cd $TRAVIS_BUILD_DIR
        bash $TRAVIS_BUILD_DIR/.travis.d/download_sdk.sh
        export VITASDK=$PWD/vitasdk
        export PATH=$VITASDK/bin:$PATH
        export INCLUDE_DIR=$TRAVIS_BUILD_DIR/include
        ls ./db | xargs -I__name__ vita-nid-check -dbdirver=./db/__name__ -dbg=trace
        # Make sure headers are valid
        # bash $TRAVIS_BUILD_DIR/.travis.d/download_external_libs.sh
        cd $VITASDK/arm-vita-eabi/include
        rm -rf psp2 psp2common psp2kern vitasdk vitasdk.h vitasdkkern.h
        cd $TRAVIS_BUILD_DIR
        find $INCLUDE_DIR -type f -name "*.h" | xargs -I FN -n 1 -P 4 arm-vita-eabi-gcc -I$INCLUDE_DIR -fsyntax-only -c FN -o /dev/null
        find $INCLUDE_DIR -type f -name "*.h" | xargs -I FN -n 1 -P 4 arm-vita-eabi-g++ -I$INCLUDE_DIR -fsyntax-only -c FN -o /dev/null
        cd $VITASDK/arm-vita-eabi/lib
        rm -rf *_stub.a
        cd $TRAVIS_BUILD_DIR
        cp -r include/* $VITASDK/arm-vita-eabi/include
        # header define check
        BYPASS_VITA_LIBS_GEN=1 USE_LINT=1 python3 build.py output
        vdpm SDL2
        vdpm curl
        vdpm openssl
        vdpm soloud
        vdpm zlib
        vdpm taihen
    - name: DB Stub test
      run: |
        export VITASDK=$PWD/vitasdk
        export PATH=$VITASDK/bin:$PATH
        vita-libs-gen-2 -yml=./db -output=./stubs
        cd ./stubs
        make -j$(nproc) install
        cd ..
        rm stubs/makefile
        tar "cfvj" "vitasdk-db-stubs.tar.bz2" "stubs"
    - name: Header sanitize checks
      run: |
        export VITASDK=$PWD/vitasdk
        export PATH=$VITASDK/bin:$PATH
        cd check_size
        python3 ./includes_all.py ../include
        mkdir build
        cd build
        cmake ..
        make -j$(nproc)
    - name: NID compat checks
      run: |
        export VITASDK=$PWD/vitasdk
        export PATH=$VITASDK/bin:$PATH
        cd check_nid_compat
        mkdir build
        cd build
        cmake ..
        make -j$(nproc)
    - name: Sample build test
      run: |
        export VITASDK=$PWD/vitasdk
        export PATH=$VITASDK/bin:$PATH
        git clone https://github.com/vitasdk/samples
        cd samples
        mkdir build
        cd build
        cmake ..
        make -j$(nproc)
    - name: Upload artifacts
      if: ${{ success() }}
      uses: actions/upload-artifact@v4
      with:
        name: vitasdk-db-stubs
        path: vitasdk-db-stubs.tar.bz2
